* {
  padding: 0;
  margin: 0;
}

.navigation ul li {
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  list-style: none;
  transition: 300ms ease-in-out;
  font-family: monospace;

}

.cut{font-size: 35px;color:white; padding-left:600px;cursor: pointer;}
.navigation ul {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  transition: 500ms ease-in-out;
}

#header {
  background-image: url(images/header-background.jpg);
  height: 660px;
  background-size: cover;
  width: auto;
    background-attachment: fixed;
}

.navigation ul li a {
  text-decoration: none;
  color: white;
  padding-bottom: 10px;
  transition: 500ms ease-in-out;
}

.navigation ul li:hover a {
  transform: scale(1.2);
  color: #e65100;
}

.navigation ul:hover {
  background-color: rgba(78, 78, 78, .8);
}

.top {
  padding-top: 60px;
  height: 200px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 70px;
  color: white;
  font-family: sans-serif;
}

.top_info {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.top_info p {
  text-align: center;
  font-size: 16px;
  color: rgb(220, 220, 220);
  width: 570px;
  padding-bottom: 31px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.79);
}

span1 {
  color: rgb(240, 240, 240);
}

.links {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.links a {
  transition: 200ms ease-in-out;
  margin-left: 2%;
  margin-right: 2%;
  filter: brightness(2);
}

.links a:hover {
  filter: sepia(1000) saturate(15) hue-rotate(190deg);
  transform: scale(1.1);
}

.arrow1 {
  height: 50px;
  width: 50px;
  position: relative;
  top: 175px;
  left: 50%;
  cursor: pointer;
  transition: 500ms ease-in-out;
}

.arrow1:hover {
  transform: scale(1.05);
  filter: hue-rotate(200deg) sepia(1000);
  ;
}

#about {
  height: 700px;
  width: auto;
  background-color: rgb(40, 40, 40);
  display: flex;
}

.about_left {
  height: 600px;
  width: 40%;
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.about_right {
  height: 600px;
  width: 70%;
  padding-top: 80px;
  padding-left: 10px;
  padding-right: 150px;
}

.about_left img {
  height: 200px;
  border-radius: 50%;
}

.about_right p {
  font-size: 30px;
  color: white;
  font-family: monospace;
}

.about_right p1 {
  font-family: Arial;
  font-size: 17px;
  color: rgb(100, 100, 100);
  text-align: left;
  line-height: 180%;
  word-spacing: 5px;
}

.bottom-about {
  display: flex;
}

.about_right1 {
  width: 50%;
  height: 200px;
  padding-top: 30px;
}

.about_right2 {
  width: 50%;
  height: 200px;
  padding-top: 30px;
}

.about_right1 p {
  font-family: monospace;
  color: white;
  font-size: 30px;
}

.about_right1 p1 {
  font-family: Arial;
  font-size: 18px;
  color: rgb(100, 100, 100);
  text-align: left;
  line-height: 180%;
  word-spacing: 5px;
}

.btn {
  display: flex;
  height: 50px;
  width: 240px;
  padding: 5px;
  background-color: rgb(60, 60, 60);
  border-radius: 3px;
  cursor: pointer;
  transition: 500ms ease-in-out;
}

.btn img {
  height: 40px;
  width: 40px;
}

.btn p {
  font-size: 20px;
  color: white;
  font-family: Arial;
  padding-top: 13px;
  padding-left: 10px;
}

.btn:hover p {
  color: rgb(60, 60, 60);
}

.btn:hover {
  background-color: rgb(220, 220, 220);
  transform: scale(1.01);
}

#resume {
  background-color: white;
  height: 600px;
  width: auto;
  display: flex;
}

.rnw_left {
  height: 500px;
  width: 40%;
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.rnw_right {
  display: block;
  height: 500px;
  width: 70%;
  padding-top: 70px;
  padding-left: 10px;
  padding-right: 150px;
  padding-bottom: 40px;
  line-height: 180%;
  border-bottom: 1px solid rgb(182, 182, 182);
  margin-right: 70px;
}

.rnw_left p {
  font-family: Arial;
  font-size: 18px;
  border-bottom: 3px solid rgb(27, 204, 232);
  height: 25px;
  color: rgb(40, 40, 40);
}

.rnw_right div {
  padding-bottom: 50px;
}

.rnw_right div p1 {
  font-size: 25px;
  color: rgb(40, 40, 40);
  font-family: Arial;
  margin-bottom: 20px;
}

.rnw_right div p2 {
  font-size: 18px;
  padding-top: 20px;
}

span {
  display: inline-block;
  font-size: 14px;
  color: rgb(68, 68, 68);
  font-family: Arial;
  padding-left: 20px;
}

.rnw_right div p3 {
  font-family: Arial;
  color: rgb(120, 120, 120);
}

#work {
  background-color: white;
  height: 600px;
  width: auto;
  display: flex;
}

.skills {
  background-color: white;
  width: auto;
  display: flex;
  border: none;
  height: 1000px;
}

.skill_info {
  height: 200px;
  width: 100%;
  font-family: Arial;
  color: rgb(120, 120, 120);
  border: none;
}

.skill_value {
  height: 600px;
  width: 100%;
  border: none;
}

.skill_value p {
  font-family: monospace;
  padding-top: 25px;
  padding-bottom: 5px;
  color: rgb(50, 50, 50);
  font-size: 18px;
}

.skill_value div {
  padding: 0;
  margin: 0;
  width: 600px;
  background-color: rgb(140, 140, 140);
  height: 40px;
  display: flex;
  transition: 500ms ease-in-out;
  cursor: pointer;
}

.skill_value div div1 {
  background-color: rgb(44, 44, 44);
  width: 90%;
  height: 40px;
}

.skill_value div div2 {
  background-color: rgb(44, 44, 44);
  width: 50%;
  height: 40px;
}

.skill_value div div3 {
  background-color: rgb(44, 44, 44);
  width: 45%;
  height: 40px;
}

.skill_value div div4 {
  background-color: rgb(44, 44, 44);
  width: 30%;
  height: 40px;
}

.skill_value div div5 {
  background-color: rgb(44, 44, 44);
  width: 40%;
  height: 40px;
}

.skill_value div div6 {
  background-color: rgb(44, 44, 44);
  width: 80%;
  height: 40px;
}

.skill_value span {
  transition: 500ms ease-in-out;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.skill_value:hover span {
  color: rgb(27, 204, 232);
}

.skill_value div:hover {
  transform: scale(1.02);
}

.wk {
  height: 650px;
  width: auto;
  background-color: rgb(196, 199, 199);
}

.wk p {
  text-align: center;
  color: rgb(115, 115, 115);
  font-size: 22px;
  font-family: Arial;
  padding-top: 60px;
  padding-bottom: 40px;
}

.wk1, .wk2 {
  display: flex;
  justify-content: center;
}

.wk div a img {
  height: 200px;
  width: 200px;
  margin: 20px;
  transition: 400ms ease-in-out;
}

.wk div a img:hover {
  transform: scale(1.05);
}

.dai {
  background-image: url(images/testimonials-bg.jpg);
  background-size: cover;
  height: 400px;
  width: auto;
  background-position: 0 -150px;
  background-attachment: fixed;
}

.dai p {
  color: rgb(198, 198, 198);
  font-size: 22px;
  padding: 100px 200px 50px 200px;
  line-height: 200%;
  word-spacing: 150%;
}

.dai p1 {
  padding-top: 30px;
  color: rgb(198, 198, 198);
  font-family: Arial;
  font-size: 15px;
  padding-left: 200px;
}

#contacts {
  background-color: rgb(25, 25, 25);
  height: 1100px;
  width: auto;
}

.upperc {
  display: flex;
}

.contacts_left {
  width: 15%;
  height: auto;
  padding-left: 100px;
  padding-top: 50px;
}

.contacts_left img {
  height: 100px;
  width: 100px;
  transition: 500ms ease-in-out;
  cursor: pointer;
}

.contacts_left img:hover {
  filter: brightness(10);
}

.contacts_right {
  width: 85%;
  height: auto;
  padding-top: 50px;
}

.contacts_right p {
  font-size: 18px;
  font-family: Arial;
  color: rgb(74, 74, 74);
  line-height: 180%;
  word-spacing: 150%;
  text-align: left;
  padding-right: 300px;
}

.lowerc {
  display: flex;
}

.cr0 {
  width: 20%;
  height: auto;
  padding-top: 50px;
}

.cr1 {
  width: 40%;
  height: auto;
}

.input1 {
  background-color: rgb(66, 66, 66);
  font-size: 20px;
  margin-top: 30px;
  width: 80%;
  border: none;
  height: 60px;
  margin-bottom: 30px;
}

.input2 {
  background-color: rgb(66, 66, 66);
  font-size: 20px;
  margin-top: 20px;
  width: 80%;
  border: none;
  height: 60px;
  margin-bottom: 30px;
}

.input3 {
  background-color: rgb(66, 66, 66);
  font-size: 20px;
  margin-top: 20px;
  width: 80%;
  border: none;
  height: 80px;
  margin-bottom: 30px;
}

.input4 {
  background-color: rgb(66, 66, 66);
  font-size: 20px;
  margin-top: 20px;
  width: 80%;
  border: none;
  height: 300px;
  margin-bottom: 10px;
}

.cr2 {
  padding-top: 20px;
  width: 40%;
  height: auto;
}

.cr2 p1 {
  font-size: 20px;
  color: white;
  font-family: monospace;
  padding-bottom: :40px;
  padding-top: 30px;
  font-weight: bolder;
}

.cr2 p {
  text-align: left;
  color: rgb(74, 74, 74);
  padding-right: 200px;
  line-height: 180%;
  font-size: 20px;
  word-spacing: 150%;
  font-family: : Arial;
  padding-top: 20px;
  padding-bottom: 40px;
}

#submit {
  color: white;
  height: 50px;
  width: 120px;
  background-color: rgb(10, 10, 10);
  font-size: 25px;
  font-family: monospace;
  border: none;
  cursor: pointer;
  transition: 500ms ease-in-out;
  border-radius: 3px;
}

#submit:hover {
  color: rgb(10, 10, 10);
  background-color: white;
  transform: scale(1.02);
}

.cr0 p {
  font-size: 20px;
  color: white;
  font-family: monospace;
  text-align: right;
  margin-bottom: 80px;
  padding-right: 100px;
  font-weight: bolder;
}

.arrow {
  position: relative;
  height: 50px;
  width: 50px;
  left: 50%;
  bottom: 20px;
  transition: 300ms ease-in-out;
}

.arrow:hover {
  transform: scale(1.05);
  transform: translateY(-20px);
}

.footer {
  background-color: rgb(10, 10, 10);
  height: 240px;
  width: auto;
  background-attachment: fixed;
}

.footer p span {
  color: rgb(75, 75, 75);
  padding-left: 5px;
  margin-left: 0;
  cursor: pointer;
  transition: 500ms ease-in-out;
}

.footer p {
  font-size: 14px;
  color: rgb(70, 70, 70);
  text-align: center;
  padding-top: 50px;
}

.footer .links {
  padding: 80px 400px 0 400px;
}

.footer p span:hover {
  color: rgb(231, 20, 70);
}

.wk div div img:hover {
  filter: opacity(.2);
}
